<div class="bg container-fluid">
  <header class="header bg-light" style="min-height:50px">
    <nav class=" nav nav-dark">
      <div class="container mt-2 mb-2">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/Services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/About-Us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/Contact-Us">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/Login/SignUp">Login/SignUp</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer class="footer bg-secondary">
    <div class="container-fluid">
      <div class="row" style="min-height: 125px;">
        <p style="margin-top: 55px; text-align: center;">Pet Service &copy; 2023 | <a href="#">Privacy Policy</a> |
          Design by:
          <a href="">Harsh Chaudhari</a>
        </p>
      </div>
    </div>
  </footer>
</div>