<div class="container-fluid">
    <div class="container-fluid py-5">
        <div class="container">
            <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h6 class="text-primary text-uppercase">Services</h6>
                <h1 class="display-5 text-uppercase mb-0">Our Excellent Pet Care Services</h1>
            </div>
            <div class="row g-5">
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="fi fi-rr-apartment display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Boarding</h5>
                            <p>Your pet’s care is our priority – be it on a short weekend getaway or a long vacation. We
                                provide the best home pet boarding in Pune for cats and dogs with the utmost care and
                                safety
                                while you relax, unwind, recharge. You don’t have to look for a cat/dog care centre or a
                                doggy day-care either.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="fi fi-rr-canned-food display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Feeding</h5>
                            <p>Worried about your pet’s health? Are you facing a challenge in understanding and
                                maintaining
                                your pets routine diet? Is your pet a puppy or elderly pet? Over weight pet or facing
                                some
                                medical issues? </p>
                            <a class="text-primary text-uppercase" href="">Read More<i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="fi fi-rr-brush display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Grooming</h5>
                            <p>Regular Dog baths and Grooming helps your pet stay healthy, smell better and helps reduce
                                chances of ear infections. Apart from that, it also helps in early detection of
                                underlying
                                health issues. Choose from our affordable range of packages for only the best care of
                                your
                                pets! Book Cat/Dog grooming online.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="fi-rr-gingerbread-man display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Training</h5>
                            <p>We have customized packages for training including obedience training, Intermediate
                                training
                                and much more. Best part? You can choose pet training at home or at the trainer’s
                                facility!
                                Achieve puppy training and dog training with the help of highly experienced certified
                                pet
                                trainers.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="fi-rr-running display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Exercise</h5>
                            <p>Sometimes our career, lifestyle, or routines can make it difficult to provide your pet
                                with
                                the recommended amount of exercise that they need. Which is why, it’s okay to use an
                                extra
                                hand in walking dogs so they are in perfect shape, mentally and physically.
                            </p>
                            <a class="text-primary text-uppercase" href="">Read More<i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="service-item bg-light d-flex p-4">
                        <i class="fi-rr-doctor display-1 text-primary me-4"></i>
                        <div>
                            <h5 class="text-uppercase mb-3">Pet Treatment</h5>
                            <p>When you are travelling to office to chase your dreams, drop off your dog at our
                                certified
                                sitter’s home and know your fur buddy(s) will get their favourite food, frequent potty
                                breaks, comfortable sleep, plenty of playtime, and lots of love.</p>
                            <a class="text-primary text-uppercase" href="">Read More<i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid bg-testimonial" style="margin: 45px 0; min-height: 600px;">
        <div class="row py-5">
            <div class="col-6"></div>
            <div class="col mt-4 bg-dark" style="min-height: 450px; min-width: 550px;">
                <ngb-carousel *ngIf="images" style="min-height: 450px; min-width: 550px;">
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper row mt-4 mb-4">
                            <div class="col-4"></div>
                            <img [src]="images[0]" style="height: 125px; width: 175px;" alt="Random first slide" />
                        </div>
                        <div class="row" style="color: honeydew;">
                            <div class="col-2"></div>
                            <div class="col">
                                <p>I was nervous to leave Sam with strangers, but my worries quickly faded. Going
                                    forward will be my first choice for pet sitting. </p>
                                <hr class="w-25 mx-auto">
                                <h5 class="text-uppercase">Molly S.</h5>
                                <span>Engineer</span>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </ng-template>
                    <ng-template ngbSlide>
                        <div class="picsum-img-wrapper row mt-4 mb-4">
                            <div class="col-4"></div>
                            <img [src]="images[1]" style="height: 125px; width: 175px;" alt="Random first slide" />
                        </div>
                        <div class="row" style="color: honeydew;">
                            <div class="col-2"></div>
                            <div class="col">
                                <p>My sitter took great care of my cat, above and beyond my expectations. I would book
                                    with
                                    again in a heartbeat!</p>
                                <hr class="w-25 mx-auto">
                                <h5 class="text-uppercase">Danielle H.</h5>
                                <span>Artist</span>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>