ul li>span .l1 {
    margin-top: 4px;
    float: left;
    display: block;
    background: #c9e54e;
    color: #fff;
    margin-right: 32px;
    width: 48px;
    height: 51px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

ul li>span .l2 {
    margin-top: 4px;
    float: left;
    display: block;
    background: #f98d0d;
    color: #fff;
    margin-right: 32px;
    width: 48px;
    height: 51px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.head-blue {
    color: #4585b7;
}